mac-webcrawler-demo/mac-knowledge-store-mule-app/src/main/mule/mac-vector-store-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mac-web-crawler="http://www.mulesoft.org/schema/mule/mac-web-crawler"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ms-aichain="http://www.mulesoft.org/schema/mule/ms-aichain"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-aichain http://www.mulesoft.org/schema/mule/ms-aichain/current/mule-ms-aichain.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mac-web-crawler http://www.mulesoft.org/schema/mule/mac-web-crawler/current/mule-mac-web-crawler.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="851e807a-299e-49f6-af65-8e337cabc9de">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
		<http:listener-interceptors>
			<http:cors-interceptor>
				<http:origins>
					<http:public-resource />
				</http:origins>
			</http:cors-interceptor>
		</http:listener-interceptors>
	</http:listener-config>
	<ms-aichain:config name="MuleSoft_AI_Chain_Config"
		llmType="OPENAI" configType="Configuration Json" modelName="gpt-4o"
		doc:name="MuleSoft AI Chain Config"
		doc:id="76d39325-2e0c-46bd-bb87-af8e032ee907"
		filePath='#[mule.home ++ "/apps/" ++ app.name ++ "/config.json"]' />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a21811a7-aabc-4509-bf82-8584c78b8524" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="mac-create-store"
		doc:id="1649a0d9-8900-48a8-89ed-f75606e5a3a5">
		<http:listener doc:name="Listener"
			doc:id="9ab4f323-c658-4fde-b6b2-b2a434a46457"
			config-ref="HTTP_Listener_config" path="/store" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[output application/java
---
{
                    'Access-Control-Allow-Origin': '*', 
                    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',
                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept',
                    'Access-Control-Allow-Credentials': 'true'
                }]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="8896a562-0ab6-458d-9698-b50a9707da64" message='#["START-create-new-store"]' category="aichain.log"/>
		<ms-aichain:embedding-new-store
			doc:name="mac-create-new-store"
			doc:id="f5011c99-2a6e-405c-8ec0-13959cbd0f86"
			storeName='#["/Users/ymudaliar/Downloads/mule-ai-chain-downloads/stores/" ++ payload.storeName]' />
		<logger level="INFO" doc:name="Logger"
			doc:id="428a0ff4-a199-4af1-8f7a-92bd68af2146"
			message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
	</flow>
	<flow name="mac-add-doc-to-store"
		doc:id="21e50f3e-eb77-4315-b4db-8d66e1acaa68">
		<http:listener doc:name="Listener"
			doc:id="cff67f0a-33e7-4998-9a70-c2c03e56616b"
			config-ref="HTTP_Listener_config" path="/doc" allowedMethods="POST">
			<http:response>
				<http:headers><![CDATA[#[output application/java
---
{
                    'Access-Control-Allow-Origin': '*', 
                    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',
                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept',
                    'Access-Control-Allow-Credentials': 'true'
                }]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9b64a0b1-c13b-4b1a-bebf-d62ab7ed3ea3" message='#["START-add-document-to-store"]' category="aichain.log"/>
		<ms-aichain:embedding-add-document-to-store
			doc:name="Embedding add document to store"
			doc:id="e8b73dbe-c897-4f77-85d0-aaf59476c408"
			storeName='#["/Users/ymudaliar/Downloads/mule-ai-chain-downloads/stores/" ++ payload.storeName]'
			contextPath="#[payload.filePath]" fileType="any"
			maxSegmentSizeInChars="1500" maxOverlapSizeInChars="150" />
		<logger level="INFO" doc:name="Logger"
			doc:id="82cfe6a3-5dc5-413d-b3a0-6f76987299a9"
			message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
	</flow>
	<flow name="mac-get-infro-from-store"
		doc:id="1adc0a89-c886-4d81-bcd6-459e9e1b2e94">
		<http:listener doc:name="Listener"
			doc:id="bb7354bc-0643-4a47-9d4a-86e5fbae95e2"
			config-ref="HTTP_Listener_config" path="/query" />
		<logger level="INFO" doc:name="Logger" doc:id="fc35eba0-3226-479b-8c89-45e02a46056e" message='#["START-get-info-from-store"]' category="aichain.log"/>
		<ms-aichain:embedding-get-info-from-store
			doc:name="Embedding get info from store"
			doc:id="913ed660-0b4a-488a-8931-26c599e859b5"
			config-ref="MuleSoft_AI_Chain_Config"
			storeName='#["/Users/ymudaliar/Downloads/mule-ai-chain-downloads/stores/" ++ payload.storeName]'
			getLatest="true">
			<ms-aichain:data><![CDATA[#[payload.prompt]]]></ms-aichain:data>
		</ms-aichain:embedding-get-info-from-store>
		<logger level="INFO" doc:name="Logger"
			doc:id="1ac149cc-b801-4079-be48-342bd58f9493"
			message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
	</flow>
	<flow name="mac-vector-store-demoFlow" doc:id="67a05135-6afe-41fd-acce-55acd0b83df0" >
		<http:listener doc:name="Listener" doc:id="0218b6d7-847d-4401-909d-c7a44e16dfac" config-ref="HTTP_Listener_config" path="/getstores"/>
		<file:list doc:name="List" doc:id="22cdf007-92ee-4081-a90e-096a8f8476f2" directoryPath='#["/Users/ymudaliar/Downloads/mule-ai-chain-downloads/stores"]'>
			<file:matcher symLinks="EXCLUDE"/>
		</file:list>
		<ee:transform doc:name="Transform Message" doc:id="3fa323f9-f4a9-444b-bff0-5c6bf40966dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((file) -> file.attributes.fileName)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="53b4ca77-27c3-4962-964c-60f029616e2d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter ((filename) -> filename != ".DS_Store")]]></ee:set-payload>
			</ee:message>
		</ee:transform>

	</flow>
	<flow name="mac-vector-store-demoFlow1" doc:id="0a8c272f-f668-4fc5-ba22-a8600b2acf1a" >
		<http:listener doc:name="Listener" doc:id="fc0b6fef-d759-4a02-87e7-e7bee46abd6c" config-ref="HTTP_Listener_config" path="/crawl"/>
		<set-variable value="#[payload.storeName]" doc:name="Set Store Name" doc:id="6f50f26d-4b41-46bf-9325-264bfd3e3711" variableName="storeName"/>
		<set-variable value='#["/Users/ymudaliar/Downloads/mule-ai-chain-downloads/pagecontents"]' doc:name="Set DownloadPath Variable" doc:id="c0dd7158-59c4-42b4-afd8-e0f3d300cbbb" variableName="downloadPath"/>
		<file:delete doc:name="Delete" doc:id="c1bc9d49-85d7-4530-9eed-7faea37f6f16" path='#[vars.downloadPath]'/>
		<mac-web-crawler:crawl-website doc:name="Crawl website" doc:id="8f05f592-e2f7-4cfc-a85f-03697b9e3730" url="#[payload.websiteUrl]" maxDepth="#[payload.depth]" downloadPath='#[vars.downloadPath]'/>
		<file:list doc:name="List" doc:id="c3ba6637-3e2a-47d6-8bce-36f68cd4e3a8" directoryPath="#[vars.downloadPath]">
			<file:matcher filenamePattern="*.json" />
		</file:list>
		<foreach doc:name="For Each" doc:id="0fbee5cb-90b5-4b41-8e4b-91e0b5e0a4ba" >
			<logger level="INFO" doc:name="Logger" doc:id="00434ad0-7f7a-45e6-a266-71c44c18d84f" message="#[attributes.path]"/>
			<ee:transform doc:name="Transform Message" doc:id="f0e34fa1-3560-4276-ab62-4c1053e4ec8f" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"storeName" : vars.storeName,
	"filePath" : attributes.path,
	"fileType" : "text"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<http:request method="POST" doc:name="Request" doc:id="46609ae8-26e9-4b86-a5f1-51e14be39803" config-ref="HTTP_Request_configuration" path="/doc"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="8136ba36-3e06-420d-8cea-0b1cec21d7e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
