a2a-ail-demo/a2a-agentforce-headless-reservation-agent-app/src/main/mule/a2a-agentforce-headless-agent-a2a-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="a2a-server-listner" doc:id="6c2a3c28-392f-4632-baa6-b9423a3440a1" >
		<a2a:task-listener doc:name="Task Listener" doc:id="ff73e06c-1d54-487e-98fb-de4cc85c26bf" config-ref="Agentforce_Agent_A2A_Server" />
		<logger level="INFO" doc:name="📞 Log A2A Task Incoming Request 📞" doc:id="c65d87d8-34a8-4b4a-9762-48a621fe836f" message='#[output text
---
"📞📞📞📞📞 ---------- Triggering Agentforce Agent ---------- 📞📞📞📞📞\n\n" ++

"A2A Task Received:\n" ++

write(payload, "application/json") ++

"\n\n📞📞📞📞📞 ------------------------------------------------ 📞📞📞📞📞"]' />
		<flow-ref doc:name="Initialise variables" doc:id="fa922b24-e299-49cb-b2b6-49f4d4f08a9e" name="a2a-agentforce-set-init" />
		<flow-ref doc:name="Agentforce agent" doc:id="79985f05-9ab4-418b-9127-77d7788fd277" name="agentforce-agent" />
		<ee:transform doc:name="Prepare A2A Server Response" doc:id="b3ef80dc-3502-47ab-9323-cae523cb64eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var taskId = vars.taskId default uuid()
var contextId = vars.contextId default uuid()
---
if (vars.agentforceResponseStatus == "input-required")
  {
	"id": taskId,
	"contextId": contextId,
	"status": {
      "state": "input-required",
      "message": {
        "role": "agent",
        "parts": [
          vars.agentforceResponsePart
        ],
        "messageId": uuid(),
        "taskId": taskId,
        "contextId": contextId
      },
	},
	"kind": "task",
	"metadata": {}
  }
else
  {
	"id": taskId,
	"contextId": contextId,
	"status": {
		"state": "completed",
		"timestamp": (now() >> 'UTC') as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
	},
	"artifacts": [
		{
		    "artifactId": uuid(),
			"name": "task",
			"parts": [
	  			vars.agentforceResponsePart
		    ]
		}
	],
	"kind": "task",
	"metadata": {}
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
