a2a-ail-demo/a2a-agentforce-headless-reservation-agent-app/src/main/mule/a2a-agentforce-headless-agent-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ms-agentforce="http://www.mulesoft.org/schema/mule/ms-agentforce" xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
	xmlns:mac-inference="http://www.mulesoft.org/schema/mule/mac-inference"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mac-inference http://www.mulesoft.org/schema/mule/mac-inference/current/mule-mac-inference.xsd
http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
http://www.mulesoft.org/schema/mule/ms-agentforce http://www.mulesoft.org/schema/mule/ms-agentforce/current/mule-ms-agentforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<sub-flow name="agentforce-agent" doc:id="4fc284f7-f286-43a2-8bd1-e6ba158b89e3" >
		<choice doc:name="Choice" doc:id="325bbde4-1dc2-4245-9575-633a5b11f30c" >
			<when expression='#[vars.agentforceSessionId==""]'>
				<ms-agentforce:start-agent-conversation agent="0XxHs000000uuUzKAI" doc:name="Start agent conversation" doc:id="87b52c56-43d8-4e7f-b7c3-637b79750082" config-ref="Agentforce_Configuration"/>
				<set-variable value='#[payload.sessionId]' doc:name="Set agentforceSessionId" doc:id="f605c233-e12c-415a-bc9c-e7fa9b897558" variableName="agentforceSessionId" />
				<os:store doc:name="Store agentforceSessionId" doc:id="eff650e2-4846-4167-a1d9-f372a5b0beb2" key="#[vars.sessionId]" objectStore="Object_store">
					<os:value ><![CDATA[#[vars.agentforceSessionId]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="💬 Continue conversation 💬" doc:id="a780565d-b602-47ba-ad26-b63a496a69b7" message='#[output text&#10;---&#10;"💬💬💬💬💬 ---------- Triggering Agentforce Agent ---------- 💬💬💬💬💬\n\n" ++&#10;&#10;"Continue existing conversation with agentforceSessionId: "  ++ &#10;vars.agentforceSessionId as String ++ "\n" ++&#10;&#10;"\n\n💬💬💬💬💬 ------------------------------------------------ 💬💬💬💬💬"]'/>
			</otherwise>
		</choice>
		<ms-agentforce:continue-agent-conversation doc:name="Continue agent conversation" doc:id="13323ae5-da40-4ec6-a2b9-e4afe9f1fe53" config-ref="Agentforce_Configuration" messageSequenceNumber="10">
			<ms-agentforce:message ><![CDATA[#[vars.prompt]]]></ms-agentforce:message>
			<ms-agentforce:session-id ><![CDATA[#[vars.agentforceSessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:continue-agent-conversation>
		<ee:transform doc:name="format response" doc:id="4ede0638-66bf-42af-abf0-6fb926b4bd22" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	response: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="a2a-agentforce-set-init" doc:id="b1ae052d-e3ae-497a-988c-145351e1e505" >
		<set-variable value="#[payload.message.parts[0].text]" doc:name="Set prompt" doc:id="3367dd7d-293c-40c7-bf91-215aebaea2ef" variableName="prompt" />
		<set-variable value="#[payload.id]" doc:name="Set taskId" doc:id="042c5a2f-0e69-4cf5-91d0-d05233be33b4" variableName="taskId" />
		<set-variable value='#[(payload.sessionId) default ""]' doc:name="Set sessionId" doc:id="770f744a-618e-4864-9422-a565cfc16b98" variableName="sessionId" />
		<set-variable value="#[(attributes.headers.history) default true]" doc:name="Set history" doc:id="48a00cf0-4b6a-46b1-8a59-e52eaa93b125" variableName="history" />
		<os:retrieve doc:name="Retrieve sessionId" doc:id="9d6b56de-1f42-4373-b444-ef6830f71568" key="#[vars.sessionId]" objectStore="Object_store" target="agentforceSessionId">
			<os:default-value ><![CDATA[#[""]]]></os:default-value>
		</os:retrieve>
	</sub-flow>
	<!-- [STUDIO:"a2a-server-listner"]<flow name="a2a-server-listner" doc:id="54fb25cd-0029-485c-964e-af71580ec3dd" >
		<a2a:task-listener doc:name="Task Listener" doc:id="a6b1f8cc-e7e8-48b1-8fd5-3e0bbd7a9777" config-ref="Agentforce_Agent_A2A_Server"/>
		<logger level="INFO" doc:name="📞 Log A2A Task Incoming Request 📞" doc:id="6ed4a0b2-8516-4f48-a5e1-04a170e00ed7" message='#[output text&#10;&#45;&#45;-&#10;"📞📞📞📞📞 &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Triggering Agentforce Agent &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 📞📞📞📞📞\n\n" ++&#10;&#10;"A2A Task Received:\n" ++&#10;&#10;write(payload, "application/json") ++&#10;&#10;"\n\n📞📞📞📞📞 &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; 📞📞📞📞📞"&#93;' />
		<flow-ref doc:name="Initialise variables" doc:id="95621933-8bfb-4b26-bd0a-29ad39231c01" name="a2a-agentforce-set-init"/>
		<flow-ref doc:name="Agentforce agent" doc:id="56c8dc9f-f164-4301-977d-74c8752fbf9e" name="agentforce-agent" />
		<ee:transform doc:name="Prepare A2A Server Response" doc:id="6437a75a-68b0-4d80-8ad6-ed3d096ad2b1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
    "id": vars.taskId,
    "sessionId": vars.sessionId,
    "status": {
      "state": "completed",
      "message": {
        "role": "agent",
        "parts": [
          {
            "type": "text",
            "text": payload.response
          }
        &#93;
      },
      "timestamp": (now() >> 'UTC') as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
    },
    "artifacts": [
      {
        "name": "Answer",
        "index": 0,
        "parts": [
          {
            "type": "text",
            "text": payload.response
          }
        &#93;
      }
    &#93;
  }&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow> [STUDIO] -->
</mule>
