mac-rag-vector-db-demo/mac-rag-vector-db-demo-mule-app/src/main/mule/mulesoft-ai-chain.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:mulechain-vectors="http://www.mulesoft.org/schema/mule/mulechain-vectors"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:idp-lease-agreement-100="http://www.mulesoft.org/schema/mule/idp-lease-agreement-100" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ms-aichain="http://www.mulesoft.org/schema/mule/ms-aichain" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-aichain http://www.mulesoft.org/schema/mule/ms-aichain/current/mule-ms-aichain.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/idp-lease-agreement-100 http://www.mulesoft.org/schema/mule/idp-lease-agreement-100/current/mule-idp-lease-agreement-100.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mulechain-vectors http://www.mulesoft.org/schema/mule/mulechain-vectors/current/mule-mulechain-vectors.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<ms-aichain:config name="MuleSoft_AI_Chain_Config" llmType="OPENAI" configType="Configuration Json" modelName="gpt-4o" doc:name="MuleSoft AI Chain Config" doc:id="8b6dfbb9-94a3-42c4-be3a-1062b5513391" filePath='#[mule.home ++ "/apps/" ++ app.name ++ "/envVars.json"]' temperature="0.9"/>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="096a25eb-6443-4971-817c-63bb644fc022" >
		<http:listener-connection host="0.0.0.0" port="8081" />
		<http:listener-interceptors >
			<http:cors-interceptor>
		        <http:origins>
		          <http:origin url="http://localhost:3000" accessControlMaxAge="10">
		            <http:allowed-methods>
		              <http:method methodName="POST"/>
		              <http:method methodName="GET"/>
		              <http:method methodName="OPTIONS"/>
		              <http:method methodName="PUT"/>
		              <http:method methodName="PATCH"/>
		            </http:allowed-methods>
		            <http:allowed-headers>
		              <http:header headerName="Content-Type"/>
		              <http:header headerName="Content-Length"/>
		              <http:header headerName="Accept-Encoding"/>
		              <http:header headerName="X-CSRF-Token"/>
		              <http:header headerName="Authorization"/>
		              <http:header headerName="Accept"/>
		              <http:header headerName="origin"/>
		              <http:header headerName="Cache-Control"/>
		              <http:header headerName="X-Requested-With"/>
		            </http:allowed-headers>
		            <http:expose-headers>
		              <http:header headerName="Content-Type"/>
		              <http:header headerName="Content-Length"/>
		              <http:header headerName="Authorization"/>
		              <http:header headerName="X-Requested-With"/>
		              <http:header headerName="Accept"/>
		            </http:expose-headers>
		          </http:origin>
		        </http:origins>
      		</http:cors-interceptor>
		</http:listener-interceptors>
	</http:listener-config>
	<mulechain-vectors:config name="MuleChain_Vectors_Config" embeddingProviderType="OPENAI" vectorDBProviderType="PGVECTOR" doc:name="MuleChain Vectors Config" doc:id="b144be75-4fe6-4f77-bac3-6f62c724f881" configFilePath='#[mule.home ++ "/apps/" ++ app.name ++ "/envVars.json"]' />
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="09c533a6-a4f2-49fe-86dc-0d96f3e67988" >
		<sftp:connection workingDir="upload" host="cloud-services.demos.mulesoft.com" port="30910" username="dcampuzano" password="Zeu$1987-m3rky0ass" />
	</sftp:config>
	<flow name="chatQuery" doc:id="9f9cac58-d993-45aa-8cb9-06fa1e1f847b" >
		<http:listener doc:name="Listener" doc:id="42431e04-6704-4299-a232-1a616cf17847" config-ref="HTTP_Listener_config" path="/api/question" allowedMethods="POST, OPTIONS">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="51841cd1-91ae-4690-961e-5cdaba6be237" message="#[payload]"/>
		<mulechain-vectors:embedding-query-from-store doc:name="Embedding query from store" doc:id="11c1b759-0ba1-4e34-a633-84215fd345b0" config-ref="MuleChain_Vectors_Config" storeName="macdemo" question="#[payload.question]" maxResults="5" minScore="0.8"/>
		<ee:transform doc:name="format of the Query Response" doc:id="c09ab83c-906c-47bc-9093-ca958d139fd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read(payload,"application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="409378ba-0b55-403e-8df3-7138f5d29e40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	question: payload.question,
	dataset: payload.response
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="payloadQuery" ><![CDATA[%dw 2.0
output application/json
---
{
	question: payload.prompt,
	dataset: payload.response,
	sources: payload.sources,
	maxResults: payload.maxResults,
	minimumScore: payload.minimumScore
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ms-aichain:agent-define-prompt-template doc:name="Agent define prompt template" doc:id="074d3205-5d63-4647-9c78-a21757f948cc" config-ref="MuleSoft_AI_Chain_Config">
			<ms-aichain:dataset ><![CDATA[#[payload.dataset]]]></ms-aichain:dataset>
			<ms-aichain:template ><![CDATA[Use the data in the dataset to answer the question in the instructions]]></ms-aichain:template>
			<ms-aichain:instructions ><![CDATA[#[payload.question]]]></ms-aichain:instructions>
		</ms-aichain:agent-define-prompt-template>
		<ee:transform doc:name="format of the Query Response1" doc:id="190940af-c85b-47a9-9e70-ff2aa09c2abe">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="finalResponse" doc:id="df62ab64-008c-4ec6-af4e-fe43075371a6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	aiResponse: payload,
	sources: vars.payloadQuery.sources,
	minScore: vars.payloadQuery.minimumScore,
	maxResults: vars.payloadQuery.maxResults
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fd76a311-358e-4ac3-9d2b-b9807d4af12b" message="#[payload]"/>
	</flow>
	<flow name="UploadDoc" doc:id="374038ed-6053-4958-bd21-24c64f6ebf4a" >
		<http:listener doc:name="/upload" doc:id="36fc7aca-a69f-4e71-b14e-471e8f812fc0" config-ref="HTTP_Listener_config" path="/api/upload" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="48dfced8-eb9f-4b2d-bc89-c74224c4c619" message="#[payload]"/>
		<mulechain-vectors:embedding-add-document-to-store doc:name="Embedding add document to store" doc:id="797d1927-896c-4fa3-ab83-fc95b96bb3e9" config-ref="MuleChain_Vectors_Config" storeName="macdemo" contextPath="/Users/dcampuzano/Documents/muleprojects/ai-day-files/AI+Associate+Glossary.pdf" maxSegmentSizeInChars="1000" maxOverlapSizeInChars="200" fileType="any"/>
		<ee:transform doc:name="Transform Message" doc:id="efb70487-e8f9-4b2b-b037-75ec975506e0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="88b93f35-d3c2-4614-9e0a-b265842a2857" message="#[payload]"/>
	</flow>
	<flow name="sftpNewFile" doc:id="45f4ff58-5723-4130-ab9a-2b4f88067fcb">
	    <sftp:listener doc:name="On New or Updated File" doc:id="30332ff5-83af-4fb8-b8d2-80f6feeb2663" config-ref="SFTP_Config" recursive="false" watermarkEnabled="true">
	        <scheduling-strategy>
	            <fixed-frequency frequency="30000"/>
	        </scheduling-strategy>
	    </sftp:listener>
	
	    <!-- Extract the original file name -->
	
	    <!-- Log the original file name -->
	    <set-variable value="#[attributes.fileName]" doc:name="Set Variable" doc:id="bb747892-3ff5-4712-ac3f-9351aed248f4" variableName="fileName"/>
		<set-variable value="/Users/dcampuzano/Documents/muleprojects/ai-day-files/" doc:name="Set Variable" doc:id="d01a7bfe-32dd-4a6a-a741-f0c3a81e39ad" variableName="localPath"/>
		<logger level="INFO" doc:name="Log Original File Name" 
	            message="#[attributes.fileName]"/>
	
	    <!-- Write the file using the original file name -->
	    <file:write doc:name="Write" doc:id="4ce9a1a2-4798-4b61-a1fd-f8a8c9950f34" 
	                path='#[vars.localPath ++ "/" ++ vars.fileName]'/>
		<mulechain-vectors:embedding-add-document-to-store doc:name="Embedding add document to store" doc:id="b0f3f9f1-9d5a-4717-98b9-1b62336ad61a" config-ref="MuleChain_Vectors_Config" storeName="macdemo" contextPath='#[vars.localPath ++ vars.fileName]' maxSegmentSizeInChars="1000" maxOverlapSizeInChars="200" fileType="any"/>
		<ee:transform doc:name="Transform Message" doc:id="195cca38-3321-4bba-b5e3-7b70614a349a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4d2dcf5a-7d36-4f21-aaa2-00827289a9f3" message="File Saved To: #[vars.localPath]#[vars.fileName]"/>
	</flow>
</mule>
