a2a-ail-demo/a2a-einstein-ai-headless-agent-app/src/main/mule/a2a-einstein-headless-agent-a2a-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="a2a-server-listner" doc:id="474fcae8-af7e-4631-ad40-9584ac13aa12" >
		<a2a:task-listener doc:name="Task Listener" doc:id="fd3dd540-76c6-4afa-9430-846831da2001" config-ref="Einstein_Agent_A2A_Server" />
		<logger level="INFO" doc:name="❓Log user prompt ❓" doc:id="964c3c2a-f015-4554-abdc-5813563839a2" message='#[%dw 2.0&#10;output text&#10;---&#10;"\n\n" ++&#10;"❓❓❓❓❓️️ --------------------------  User Prompt -------------------------- ❓❓❓❓❓️\n\n" ++&#10;(payload.message.parts[0].text default "") ++ "\n" ++&#10;"\n❓❓❓❓❓️️ ------------------------------------------------------------------ ❓❓❓❓❓️" ++&#10;"\n\n"]' category="❓Log user prompt ❓" />
		<flow-ref doc:name="Initialise" doc:id="3ecaeff4-1f31-47ab-9feb-242c1e8ef416" name="a2a-einstein-set-init" />
		<flow-ref doc:name="Einstein Agent" doc:id="e60c54b9-3524-44b6-942a-24dfa7aec528" name="einstein-agent" />
		<logger level="INFO" doc:name="❗️Response ❗️" doc:id="fcb97997-1982-43dc-a96b-fa7484f60114" message='#[%dw 2.0&#10;output text&#10;---&#10;"\n\n" ++&#10;"❗️❗️❗️❗️❗️️ --------------------------  Response -------------------------- ❗️❗️❗️❗️❗️\n\n" ++&#10;(payload.response default "") ++ "\n" ++&#10;"\n❗️❗️❗️❗️❗️️ -------------------------------------------------------------- ❗️❗️❗️❗️❗️" ++&#10;"\n\n"]' category="❗️Response ❗" />
		<ee:transform doc:name="Prepare A2A Server Response" doc:id="4e1d3e55-721b-405c-9374-db5a2bcad444" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "id": vars.task_id,
    "sessionId": vars.session_id,
    "status": {
      "state": "completed",
      "message": {
        "role": "agent",
        "parts": [
          {
            "type": "text",
            "text": payload.response
          }
        ]
      },
      "timestamp": (now() >> 'UTC') as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
    },
    "agentforceId": vars.agentforceSession,
    "artifacts": [
      {
        "name": "Answer",
        "index": 0,
        "parts": [
          {
            "type": "text",
            "text": payload.response
          }
        ]
      }
    ]
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
