a2a-ail-demo/a2a-interaction-agent-app/src/main/mule/a2a-interaction-agent-a2a-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:a2a="http://www.mulesoft.org/schema/mule/a2a"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/a2a http://www.mulesoft.org/schema/mule/a2a/current/mule-a2a.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="task-listener" doc:id="c365696f-1c73-45ab-84e5-1afdfe2a7d0e" >
		<a2a:task-listener doc:name="Task Listener" doc:id="d49c3c98-89d3-4638-a8eb-b854876d0973" config-ref="A2A_Server"/>
		<flow-ref doc:name="answer-prompt-flow" doc:id="c783666e-44eb-4178-b83d-8902eadca7e1" name="answer-prompt-flow" />
		<ee:transform doc:name="Prepare A2A Server Response" doc:id="948ceed3-4cf8-45cb-94fa-375502bf8b7d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "id": vars.task_id,
    "sessionId": vars.session_id,
    "status": {
      "state": "completed",
      "message": {
        "role": "agent",
        "parts": [
          {
            "type": "text",
            "text": payload.response
          }
        ]
      },
      "timestamp": (now() >> 'UTC') as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
    },
    "artifacts": [
      {
        "name": "Answer",
        "index": 0,
        "parts": [
          {
            "type": "text",
            "text": payload.response
          }
        ]
      }
    ]
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
