service_now_incident_agent/src/main/mule/service_now_incident_agent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow" xmlns:mulechain="http://www.mulesoft.org/schema/mule/mulechain"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:jira="http://www.mulesoft.org/schema/mule/jira" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mulechain http://www.mulesoft.org/schema/mule/mulechain/current/mule-mulechain.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd">
	<servicenow:config name="ServiceNow_Config" doc:name="ServiceNow Config" doc:id="9946d2d8-5f8a-4983-acfd-78d31c507500" >
		<servicenow:basic-connection username="${servicenow.user}" password="${servicenow.password}" serviceAddress="${servicenow.url}" />
	</servicenow:config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="e29bf0bf-61da-4719-9e06-231b4280f9e1" />
	<mulechain:llm-configuration-config name="MuleChain_Llm_configuration" llmType="OPENAI_API_KEY" doc:name="MuleChain Llm configuration" doc:id="dfa2b210-1b6f-4287-b63b-53c4b271b271" llmApiKey="${mulechain.api-key-openai}" configType="Configuration Json" filePath='#[mule.home ++ "/apps/" ++ app.name ++ "/envVars.json"]'/>
	<configuration-properties doc:name="Configuration properties" doc:id="4bacfb03-c970-4dcd-9deb-657e25a356d8" file="connections.yaml" />
	<flow name="ServiceNow-AI-Summary-Sentiments" doc:id="50d07f4f-220e-40e7-9878-4354a8e088a3" >
		<servicenow:new-or-updated-record-listener tableName="incident" doc:name="On New / Updated Record" doc:id="cd574cec-11a1-4b8b-8d61-72e2625d9645" config-ref="ServiceNow_Config" displaySystemRefs="ALL">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</servicenow:new-or-updated-record-listener>
		<ee:transform doc:name="Transform to JSON" doc:id="56c32a5d-4d52-4155-945b-28c8ab2d468c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.getRecordsResult]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.sys_id]" doc:name="Incident Id" doc:id="52404cc1-3a0a-4f85-a4d2-996ea295fd71" variableName="key" />
		<set-variable value="#[payload]" doc:name="Save payload of changed incident" doc:id="377eb538-51f7-4213-9d32-68d4ad642eac" variableName="payload"/>
		<os:retrieve doc:id="2059ee82-42e2-453f-8ebc-cd70a180b8ff" key="#[vars.key]" objectStore="Object_store" doc:name="Retrieve" >
			<os:default-value ><![CDATA[not_synched]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="b0e95811-3046-4b38-81f5-b1f6a6fc801c" message="#[payload]" />
		<choice doc:name="Incident already assessed?" doc:id="2ae0b605-8b8c-4075-bae8-4a3a40d456aa" >
			<when expression='#[payload=="not_synched"]' >
				<os:store doc:id="2e59fd49-7843-402c-ba3e-cb2384525297" key="#[vars.key]" objectStore="Object_store" doc:name="Store" >
					<os:value ><![CDATA[#["synched"]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Logger" doc:id="3b7aae6e-ba9d-4f36-8b28-181c891f397f" message="#[payload]" />
				<ee:transform doc:name="Extract key values for Incident" doc:id="2890212d-1357-48c5-a5f0-dad11c649c6e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	title: vars.payload.short_description,
	description: vars.payload.description,
	comments: vars.payload.dv_comments_and_work_notes

} ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<ee:transform doc:name="Convert Message to feed AI Agent" doc:id="1901fe35-c75b-45fc-889e-7c7d49a92bdf">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
write(payload, "application/json")]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<mulechain:agent-define-prompt-template doc:name="PT Service Agent" doc:id="d04e0a7e-25dc-43a9-92ab-1799f04caf5d" config-ref="MuleChain_Llm_configuration" template="You are a support representative who is tasked with creating a short summary of a case that happened between a customer and a company support rep. " instructions="Follow the instructions precisely, do not add any information not provided. Summarize in 1 sentence, and use clear, concise, and straightforward language using the active voice and strictly avoiding the use of filler words and phrases and redundant language. Guide the next steps as maximum 2 bullet points. Keep the emotion of the summary relaxed." dataset='#[payload]'/>
				<ee:transform doc:name="AI Summary" doc:id="f2850226-95bd-413c-bd34-d707b4f68794" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.service-now.com/incident
---
{
	ns0#update: {
		sys_id: vars.key,
		u_ai_summary: payload
	}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<servicenow:invoke doc:name="Update Incident with AI Summary" doc:id="8a489719-5e84-431c-a9f7-ad7d0fa130b9" config-ref="ServiceNow_Config" service="incident" operation="update"/>
			</when>
			<otherwise >
				<os:remove doc:id="ea83d320-b1bd-47ac-8fe6-bb1804b21f0b" key="#[vars.key]" objectStore="Object_store" doc:name="Remove" />
				<logger level="INFO" doc:name="Logger" doc:id="9f50086c-3753-49c3-b848-65f9f885bad7" message='#["Issue already synched: " ++ vars.key]' />
			</otherwise>
		</choice>
	</flow>
</mule>
