mac-knowledge-store-webcrawler/src/main/mule/mac-vector-store-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mac-einstein="http://www.mulesoft.org/schema/mule/mac-einstein"
	xmlns:mac-web-crawler="http://www.mulesoft.org/schema/mule/mac-web-crawler"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ms-aichain="http://www.mulesoft.org/schema/mule/ms-aichain"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-aichain http://www.mulesoft.org/schema/mule/ms-aichain/current/mule-ms-aichain.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mac-web-crawler http://www.mulesoft.org/schema/mule/mac-web-crawler/current/mule-mac-web-crawler.xsd
http://www.mulesoft.org/schema/mule/mac-einstein http://www.mulesoft.org/schema/mule/mac-einstein/current/mule-mac-einstein.xsd">
	<ms-aichain:config name="MuleSoft_AI_Chain_Config"
		llmType="OPENAI" configType="Configuration Json" modelName="gpt-4o"
		doc:name="MuleSoft AI Chain Config"
		doc:id="76d39325-2e0c-46bd-bb87-af8e032ee907"
		filePath='#[mule.home ++ "/apps/" ++ app.name ++ "/config.json"]' />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="60a4a550-0ec3-4a66-9720-9330564e447c" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4fdac597-a204-4c39-98c9-c853db6e8cf6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="web-app-flow" doc:id="bd12269d-c57c-409b-bfca-2e2f1063db16" >
		<http:listener doc:name="web-app-listener" doc:id="626a16e5-b00d-4ae6-a58e-3a312dde0cce" config-ref="HTTP_Listener_config" path="/web/*"/>
		<http:load-static-resource doc:name="Load static resource" doc:id="f2d48a4b-6fa1-4615-994f-2893376a9bdd" resourceBasePath='#[mule.home ++ "/apps/" ++ app.name ++ "/webapp"]'/>
	</flow>
	<flow name="mac-create-store"
		doc:id="1649a0d9-8900-48a8-89ed-f75606e5a3a5">
		<http:listener doc:name="Listener"
			doc:id="9ab4f323-c658-4fde-b6b2-b2a434a46457"
			path="/store" allowedMethods="POST, OPTIONS" config-ref="HTTP_Listener_config">
			<http:response>
				<http:headers><![CDATA[#[output application/java
---
{
                    'Access-Control-Allow-Origin': '*', 
                    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',
                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept',
                    'Access-Control-Allow-Credentials': 'true'
                }]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="8896a562-0ab6-458d-9698-b50a9707da64" message='#["START-create-new-store"]' category="aichain.log"/>
		<ms-aichain:embedding-new-store doc:name="Embedding new store" doc:id="129e069b-c3b3-486b-abf8-08f975c70c61" storeName="#[p('stores.dir') ++ &quot;/&quot; ++ payload.storeName]"/>
		<logger level="INFO" doc:name="Logger"
			doc:id="428a0ff4-a199-4af1-8f7a-92bd68af2146"
			message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
	</flow>
	<flow name="mac-add-doc-to-store"
		doc:id="21e50f3e-eb77-4315-b4db-8d66e1acaa68">
		<http:listener doc:name="Listener"
			doc:id="cff67f0a-33e7-4998-9a70-c2c03e56616b"
			path="/doc" allowedMethods="POST" config-ref="HTTP_Listener_config">
			<http:response>
				<http:headers><![CDATA[#[output application/java
---
{
                    'Access-Control-Allow-Origin': '*', 
                    'Access-Control-Allow-Methods': 'GET, POST, PUT, DELETE, OPTIONS',
                    'Access-Control-Allow-Headers': 'Origin, X-Requested-With, Content-Type, Accept',
                    'Access-Control-Allow-Credentials': 'true'
                }]]]></http:headers>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9b64a0b1-c13b-4b1a-bebf-d62ab7ed3ea3" message='#["START-add-document-to-store"]' category="aichain.log"/>
		<ms-aichain:embedding-add-document-to-store doc:name="Embedding add document to store" doc:id="759354c2-ae20-4182-aed1-1fe96588390e" storeName="#[p('stores.dir') ++ &quot;/&quot; ++ payload.storeName]" contextPath="#[payload.filePath]" maxSegmentSizeInChars="#[payload.maxSegmentSizeInChars]" maxOverlapSizeInChars="#[payload.maxOverlapSizeInChars]" fileType="any"/>
		<logger level="INFO" doc:name="Logger"
			doc:id="82cfe6a3-5dc5-413d-b3a0-6f76987299a9"
			message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
	</flow>
	<flow name="mac-add-directory-to-store" doc:id="4c49ccb1-3541-4d32-97da-281d599360d1" >
		<http:listener doc:name="Listener" doc:id="f653f12c-e6f0-4ea7-a36d-5de37d24e807" config-ref="HTTP_Listener_config" path="/directory" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="0689182e-405d-4350-b1c6-f7b9c4a71fb5" category="aichain.log" message='#["START-add-directory-to-store"]'/>
		<ms-aichain:embedding-add-folder-to-store doc:name="Embedding add folder to store" doc:id="ffd6a228-907f-4a90-9c48-0b6adbb21096" storeName="#[p('stores.dir') ++ &quot;/&quot; ++ payload.storeName]" contextPath="#[payload.directoryPath]" maxSegmentSizeInChars="#[payload.maxSegmentSizeInChars]" maxOverlapSizeInChars="#[payload.maxOverlapSizeInChars]" fileType="any"/>
		<logger level="INFO" doc:name="Logger" doc:id="00880bba-9d2a-477c-a59d-ea81811fc6bf" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" />
	</flow>
	<flow name="mac-get-infro-from-store"
		doc:id="1adc0a89-c886-4d81-bcd6-459e9e1b2e94">
		<http:listener doc:name="Listener"
			doc:id="bb7354bc-0643-4a47-9d4a-86e5fbae95e2"
			path="/query" config-ref="HTTP_Listener_config" allowedMethods="GET, POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="fc35eba0-3226-479b-8c89-45e02a46056e" message='#["START-get-info-from-store"]' category="aichain.log"/>
		<ms-aichain:embedding-get-info-from-store doc:name="Embedding get info from store" doc:id="b4ffd6e9-c605-49de-a99e-9547b54ccc17" storeName="#[p('stores.dir') ++ &quot;/&quot; ++ payload.storeName]" getLatest="true" config-ref="MuleSoft_AI_Chain_Config">
			<ms-aichain:data ><![CDATA[#[payload.prompt]]]></ms-aichain:data>
		</ms-aichain:embedding-get-info-from-store>
		<ee:transform doc:name="Create output" doc:id="9d0771e1-235a-4682-ad33-fd4f1fe0592c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	response:(payload.response),
	sources:(payload.sources),
	tokenUsage:(attributes.tokenUsage)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger"
			doc:id="1ac149cc-b801-4079-be48-342bd58f9493"
			message="#[payload]" />
	</flow>
	<flow name="mac-get-all-vector-stores-Flow" doc:id="67a05135-6afe-41fd-acce-55acd0b83df0" >
		<http:listener doc:name="Listener" doc:id="0218b6d7-847d-4401-909d-c7a44e16dfac" path="/getstores" config-ref="HTTP_Listener_config"/>
		<file:list doc:name="List Stores" doc:id="10a18c72-2f0f-45c9-859a-b14b33746095" directoryPath="#[p('stores.dir')]"/>
		<ee:transform doc:name="Transform Message" doc:id="3fa323f9-f4a9-444b-bff0-5c6bf40966dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((file) -> file.attributes.fileName)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="53b4ca77-27c3-4962-964c-60f029616e2d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter ((filename) -> filename != ".DS_Store")]]></ee:set-payload>
			</ee:message>
		</ee:transform>

	</flow>
	<flow name="mac-crawl-website-Flow" doc:id="8e912dc8-afae-4fac-a9a5-222bb4e80c22" >
		<http:listener doc:name="Listener" doc:id="3b5baf58-e9ee-46cb-a649-9e99eb239804" path="/crawl" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[payload.storeName]" doc:name="Set Store Name" doc:id="3359a822-a469-4020-ac2d-350a1ccb8951" variableName="storeName" />
		<set-variable value="#[p('pagecontent.dir')]" doc:name="Set downloadPath Variable" doc:id="2e148a09-3d40-4f66-9526-e6cb5b641739" variableName="downloadPath"/>
		<set-variable value="#[payload.websiteUrl]" doc:name="Set topLevelURL Variable" doc:id="48aa6e3e-7a9f-444b-bec6-2e5189683e9c" variableName="topLevelURL"/>
		<file:delete doc:name="Delete" doc:id="553aa4d5-6a2c-4d1f-91b4-12414c715aa6" path="#[vars.downloadPath]" />
		<file:create-directory doc:name="Create directory" doc:id="97c86707-f8ca-43f0-b2a2-559837aed122" directoryPath="#[vars.downloadPath]"/>
		<mac-web-crawler:crawl-website doc:name="Crawl website" doc:id="c0e159d6-1620-4a5c-b5c5-dbd4cf532d31" url="#[payload.websiteUrl]" maxDepth="#[payload.depth]" downloadPath="#[vars.downloadPath]" />
		<file:list doc:name="List" doc:id="0cbad3b0-5cf9-4640-a199-9178bcd89066" directoryPath="#[vars.downloadPath]" >
			<file:matcher filenamePattern="*.json" />
		</file:list>
		<foreach doc:name="For Each - Only process pages that start with the top level URL" doc:id="8356af5a-c5d5-4d8f-bbde-2192ad9fa5f8" >
			<!-- [STUDIO:"Logger"]<logger level="INFO" doc:name="Logger" doc:id="aef1c5ef-40ad-46ff-8397-23452444e79a" message="#[attributes.path&#93;" /> [STUDIO] -->
			<choice doc:name="Choice" doc:id="ae398f8f-78e2-4f03-9441-a2027854df94" >
				<when expression="#[payload.url startsWith vars.topLevelURL]">
					<ee:transform doc:name="Transform Message" doc:id="d9810dca-6b7c-46e9-91b4-79a14bb5f984">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"storeName" : vars.storeName,
	"filePath" : attributes.path,
	"fileType" : "text",
	"maxSegmentSizeInChars": 1500,
	"maxOverlapSizeInChars": 500
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
					<http:request method="POST" doc:name="Request" doc:id="5a525518-817a-4e32-be23-f30242e6278b" path="/doc" config-ref="HTTP_Request_configuration"/>
				</when>
			</choice>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="86c834f2-a1a9-4544-9ee7-849da44ae1cd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
